html {
    position: relative;
}

body {
    font: 13px/18px "Lucida Grande", Arial, Verdana, sans-serif; 
    background-color: #FAFAFA;
}

body a{
    cursor: pointer;
}

.navbar-header{
   margin-left: 50px !important;
}

.navbar .link {
    margin-right: 50px;
    float: right;
}

body>.container {
    margin-top: 50px;
    margin-bottom: 75px;
}

.row {
    margin-top: 25px;
}

.pdg-form>button{
    float:right;
}

.graph-area {
    height: 500px;
    margin-right: -20px;
    border: 1px solid lightgray;
}

.align-pdg-form {
    text-align: center;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.footer {
    background-color: #222;
    width: 100%;
    height: auto;
    min-height: 8%;
}

.footer .text a {
    float: right;
    margin: 10px;
    color: gainsboro;
}

.footer .link {
    float: left;
}

.link a {
    float: left;
    margin: 15px;
    color: gainsboro;
}

.panel{
    text-align: center;
}
